.browse-ww {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.browse-h {
  height: var(--height-ml);
  min-height: var(--height-ml);

  display: flex;
  align-items: center;
}

.browse-w {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

.browse-url {
  margin-left: 0.5rem;
}

.browse-title {
  margin-left: auto;
}

.browse-external {
  margin-left: 0.5rem;
}

.browse-reload > img,
.browse-external > img {
  pointer-events: none;
}
