.browse-ww {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.browse-h {
  height: var(--height-ml);
  min-height: var(--height-ml);

  display: flex;
  align-items: center;
}

.browse-w {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

.browse-url,
.browse-title {
  margin-left: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

.browse-url {
  margin-left: 0.5rem;
}

.browse-external {
  margin-left: 0.5rem;
}

.browse-control {
  width: var(--width-mini-icon);
  height: var(--width-mini-icon);
  display: flex;
}

.browse-control > img {
  pointer-events: none;
}
