.describe_cmd-ww {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
}

.describe_cmd-w {
  width: 100%;
  height: min-content;

  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  grid-gap: 0.5rem;
}
