.options-ww {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  padding-top: 0;

  display: flex;
}

.options-w {
  width: 100%;
  max-width: 50rem;
  height: min-content;

  display: flex;
  flex-direction: column;
}

.options-h {
  width: 100%;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.options-all {
  width: 100%;

  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) auto;
}

.options-val {
  padding-left: 1rem;
  padding-right: 1rem;
}

.options-setting {
  padding-top: 0.5rem;
  display: flex;
}

.options-note {
  margin-top: 2rem;
  display: flex;
}
