.hex-ww {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}

.hex-w {
  --line-height: 2rem; /* includes vertical padding */

  line-height: 1.5;
  width: 100%;
  height: min-content;
  max-height: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hex-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hex-main-h {
  display: flex;
}

.hex-main-body {
  overflow-y: auto;
  height: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.hex-line {
  display: flex;
}

.hex-hexs {
  font-family: monospace;
  display: grid;
  grid-template-columns: repeat(17, min-content);
}

.hex-ascii {
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-family: monospace;
  display: grid;
  grid-template-columns: repeat(16, min-content);
}

.hex-a-h,
.hex-addr-h,
.hex-u8-fill,
.hex-u8-h {
  background-color: var(--clr-fill);
}

.hex-u8-fill {
  color: var(--clr-fill);
}

.hex-a,
.hex-addr,
.hex-u8 {
  height: var(--line-height);
  padding: 0 0.25rem 0 0.25rem;
}

.hex-u8.hex-col-4,
.hex-u8.hex-col-8,
.hex-u8.hex-col-12 {
  padding-left: 1rem;
}

.hex-a {
  padding-left: 0;
  padding-right: 0;
}

.hex-cur {
  font-weight: bold;
  background-color: var(--clr-nb0-light);
}
