\#*\#
*~
*.bak
*.BAK
\.ADDED
\.READY
restart-flag
TAGS
TAGS.js
TAGS.json
TAGS.mjs
/etc/server*
ext/*/lib/
ext/*/package-lock.json
lib/*
!lib/ace.js
!lib/codemirror.js
!lib/ev.pegjs
!lib/codemirror-patches
node_modules/
opencode-src
/out/
/public/js/l*-sw.js
/public/js/pages.js
/public/manifest/*
!/public/manifest/beeper.webmanifest
!/public/manifest/surfamin.webmanifest
/t.svg
/views/css/
/views/svg/
