.opencode-ww {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.opencode-h {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-bottom: 1px solid var(--clr-fill);
  gap: 8px;
}

.opencode-icon {
  width: 20px;
  height: 20px;
}

.opencode-icon > img {
  width: 100%;
  height: 100%;
}

.opencode-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opencode-w {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.opencode-msg {
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.opencode-msg-user {
  align-self: flex-end;
}

.opencode-msg-assistant {
  align-self: flex-start;
}

.opencode-msg-role {
  margin-bottom: 2px;
  color: var(--clr-nb3);
  display: flex;
}

.opencode-msg-user .opencode-msg-role {
  color: var(--clr-emph);
  justify-content: flex-end;
  padding-right: 12px;
}

.opencode-msg-text {
  padding: 8px 12px;
  border-radius: 8px;
  line-height: 1.4;
  white-space: pre-wrap;
}

.opencode-msg-user .opencode-msg-text {
  background: var(--clr-bg);
}

.opencode-msg-assistant .opencode-msg-text {
  background: var(--clr-fill);
}

.opencode-msg-thinking {
  align-self: flex-start;
  max-width: 90%;
  margin-top: 4px;
}

.opencode-msg-thinking .opencode-msg-role {
  display: none;
  color: var(--clr-nb2);
  font-size: 0.75rem;
  margin-bottom: 2px;
}

.opencode-msg-thinking .opencode-msg-text {
  padding: 8px 12px;
  border-radius: 8px;
  line-height: 1.4;
  white-space: pre-wrap;
  font-style: italic;
}

.opencode-msg-tool {
  gap: 8px;
  max-width: 90%;
  margin-top: 4px;
}

.opencode-msg-tool .opencode-msg-text {
  font-size: 0.85rem;
  font-style: italic;
  white-space: pre;
}
