.search_buffers-lineNumbers {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

.search_buffers-lineNumbers > .cm-gutterElement {
  cursor: pointer;
}

.search_buffers-lineNumbers > .cm-gutterElement > div {
  display: grid;
  grid-template-columns: auto minmax(min-content, max-content);
  gap: 0 0.5rem;
}
