.code-ww {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.code-w {
  width: 100%;
  position: relative;
  height: min-content;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
}

.code-h {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-bottom: 1px solid var(--clr-fill);
  gap: 8px;
}

.code-icon {
  width: 20px;
  height: 20px;
}

.code-icon > img {
  width: 100%;
  height: 100%;
}

.code-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.code-w {
  flex: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.code-msg {
  display: flex;
  flex-direction: column;
}

.code-msg-user {
  align-self: flex-end;
}

.code-msg-assistant {
  align-self: flex-start;
}

.code-msg-role {
  margin-bottom: 2px;
  color: var(--clr-nb3);
  display: flex;
}

.code-msg-user .code-msg-role {
  display: none;
  color: var(--clr-emph);
  justify-content: flex-end;
  padding-right: 12px;
}

.code-msg-text {
  padding: 8px 12px;
  border-radius: 8px;
  line-height: 1.4;
  white-space: pre-wrap;
}

.code-msg-text.code-msg-hidden {
  display: none;
}

.code-msg-user .code-msg-text {
  background: var(--clr-fill);
}

.code-msg-assistant .code-msg-text {
  background: var(--clr-fill);
}

.code-msg-thinking {
  align-self: flex-start;
  margin-top: 4px;
}

.code-msg-thinking .code-msg-role {
  display: none;
  color: var(--clr-nb2);
  font-size: 0.75rem;
  margin-bottom: 2px;
}

.code-msg-thinking .code-msg-text {
  padding: 8px 12px;
  border-radius: 8px;
  line-height: 1.4;
  white-space: pre-wrap;
  font-style: italic;
}

.code-msg-tool {
  gap: 8px;
  margin-top: 4px;
}

.code-msg-tool .code-msg-text {
  font-size: 0.85rem;
  font-style: italic;
  white-space: pre;
}

.code-msg-tool .code-msg-text.code-msg-under {
  font-family: var(--font-monospace);
  font-style: normal;
}

.code-msg-permission {
  align-self: flex-start;
  margin-top: 4px;
}

.code-msg-permission .code-msg-text {
  font-size: 0.9rem;
  font-style: normal;
  padding: 8px 12px;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.code-under-w {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.code-under {
  display: flex;
}

.code-patch-ed {
  font-family: var(--font-monospace);
  margin-top: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.code-patch-ed .cm-editor {
  height: auto;
  max-height: 600px;
  overflow: auto;
}

.code-patch-view .cm-scroller {
  font-family: var(--font-monospace);
}

.code-markdown-ed {
  margin-top: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.code-markdown-ed .cm-editor {
  height: auto;
  overflow: auto;
}
