.assist-ww {
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
}

.assist-h {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;

  display: flex;
}
.assist-w {
  width: 100%;
  height: min-content;
  max-height: 100%;

  display: flex;
  flex-direction: column;
}

.assist-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.assist-main-h {
  display: flex;
}

.assist-main-body {
  height: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  grid-gap: 0.5rem;
}

.assist-callers-h,
.assist-callers,
.assist-def-h,
.assist-def {
  padding: 0.25rem;
}

.assist-callers-h,
.assist-def-h {
  margin-top: 0.5rem;
  background-color: var(--clr-fill);
  grid-column: 1 / span 2;
  display: flex;
}

.assist-callers,
.assist-def,
.assist-sig {
  padding-top: 0;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
}

div.assist-caller-loc,
div.assist-uri {
  color: var(--clr-text);
}

.assist-caller {
  margin-bottom: 1rem;
}

.assist-caller-loc {
  margin-left: 1rem;
}

.assist-main-body.retracted {
  display: none;
}
