.assist-ww {
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
}

.assist-h {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;

  display: flex;
}

.assist-w {
  width: 100%;
  height: 100%;
  max-height: 100%;

  display: flex;
  flex-direction: column;
}

.assist-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.assist-main-h {
  display: flex;
}

.assist-main-body {
  height: 100%;
  min-height: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.assist-top {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  grid-gap: 0.5rem;
}

.assist-callers-h,
.assist-callers,
.assist-def-h,
.assist-def,
.assist-pages-h,
.assist-pages {
  padding: 0.25rem;
}

.assist-callers-h,
.assist-def-h,
.assist-pages-h {
  margin-top: 0.5rem;
  background-color: var(--clr-fill);
  display: flex;
}

.assist-pages-h {
  margin-top: auto;
}

.assist-callers,
.assist-def,
.assist-sig {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

div.assist-caller-loc,
div.assist-uri {
  color: var(--clr-text);
}

.assist-caller {
  margin-bottom: 1rem;
}

.assist-caller-loc {
  margin-left: 1rem;
  font-family: var(--font-monospace);
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
}

.assist-caller-loc > div {
  pointer-events: none;
  padding: 0.25rem;
}

.assist-page > div,
.assist-caller-text {
  white-space: nowrap;
}

.assist-page > div {
  color: var(--clr-text);
}

.assist-page-current > div {
  color: var(--clr-emph);
}

.assist-caller-num {
  background-color: var(--clr-fill);
}

.assist-pages-h.retracted,
.assist-pages.retracted,
.assist-main-body.retracted {
  display: none;
}
