.step-ww {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.step-w {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

webview {
  width: 100%;
  height: 100%;
  display: flex;
}

/* DOM */

.dom-ww {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.dom-w {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
}

.dom-el {
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: column;
}

.dom-el.dom-active > .dom-el-line {
  background-color: var(--clr-fill);
}

.dom-el-line {
  display: flex;
}

.dom-el-pm {
  width: 1rem;
  min-width: 1rem;
  max-width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dom-el-name {
  color: var(--rule-clr-keyword);
}

.dom-el-css {
  margin-left: 0.5rem;
  color: var(--rule-clr-attribute);
  display: flex;
}

.dom-el-attrs {
  display: flex;
}

.dom-el-attr {
  margin-left: 0.5rem;
  display: flex;
}

.dom-el-attr-name {
  color: var(--rule-clr-tag);
}

.dom-el-attr-val {
  color: var(--rule-clr-string);
}

.dom-el-ch {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
}
