.query-ww {
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
}

.query-h {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;

  display: flex;
}

.query-llm {
  margin-bottom: 0.5rem;
}

.query-w {
  width: 100%;
  max-width: 60rem;
  height: min-content;
  border-top: solid 0.25rem var(--clr-fill);

  display: flex;
  flex-direction: column;
}

.query-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.query-item {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.query-item-t {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
}

.query-item-icon {
  margin-right: 0.5rem;
  display: inline;
}

.query-item-icon > img {
  width: 2rem;
}

.query-item-url {
  margin-bottom: 0.2rem;
  padding: 0.2rem;
}

.query-item-snippet {
  padding: 0.2rem;
}

.query-item-date {
  background-color: var(--clr-fill);
  display: inline;
  padding: 0.2rem;
}

.query-sug {
  padding-bottom: 0.25rem;
}

.query-sug0 {
  padding-bottom: 0.5rem;
  display: flex;
}

.query-sug0-type {
  margin-right: 0.5rem;
}

.query-link,
.query-ml-icon {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: var(--width-mini-icon);
  height: var(--width-mini-icon);
  display: flex;
}

.query-link > img,
.query-ml-icon > img {
  pointer-events: none;
}

.query-ml-new {
  margin-left: auto;
}

.query-ml-new,
.query-ml-stop {
  margin-right: 0.5rem;
  display: flex;
}

.query-ml-model {
  margin-left: 0.5rem;
}

.mini-web-search .mini-icon,
.mini-chat .mini-icon {
  pointer-events: none;
}
