.rich-ww {
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
}

.rich-head {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;

  display: flex;
}

.rich-w {
  width: 100%;
  height: min-content;

  display: flex;
  flex-direction: column;
}

.rich-a {
  text-decoration: underline;
  display: inline;
}

.rich-b {
  color: var(--clr-emph);
}

.rich-blockquote {
  border-left: 0.5rem solid var(--clr-fill);
  padding-left: 0.2rem;
}

.rich-code {
  font-family: monospace;
  background-color: var(--clr-fill);
  padding: 0.5rem;
}

.rich-it {
  font-style: italic;
}

.rich-h {
  color: var(--clr-emph);
}

.rich-h1 {
  font-size: 2rem;
}

.rich-h2 {
  font-size: 1.75rem;
}

.rich-h3 {
  font-size: 1.5rem;
}

.rich-h4 {
  font-size: 1.25rem;
}

.rich-hr {
  width: 100%;
  height: 2px;
  min-height: 2px;
  max-height: 2px;
  background-color: var(--clr-fill);
}

.rich-spc {
  height: 1rem;
  min-height: 0.5rem;
  max-height: 0.5rem;
}

.rich-ol,
.rich-ul {
  margin-left: 1rem;
}

.rich-ol {
  list-style-type: decimal;
}

.rich-li {
}
